
GymWorkoutManager.xcworkspace/xcuserdata/gl.xcuserdatad/UserInterfaceState.xcuserstate

GymWorkoutManager.xcodeproj/xcuserdata/gl.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/gl.xcuserdatad/xcschemes/xcschememanagement.plist
